@model IEnumerable<Employee>

@{
    ViewBag.Title = "Statistics";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />


<div class="text-center row">

    <h5 class="card-title mt-1">Top five employees with most finished tasks for last month</h5>
    @foreach (var employee in Model)
    {
        <div class="card col-4" style="width: 15rem; ">

            <div class="card-body">

                <h5 class="card-title mt-1">@employee.FullName</h5>
                <h5 class="card-title mt-1">@employee.NumberOfCompletedTasks</h5>

            </div>
        </div>
    }
</div>

