@model EmployeeReviewViewModel

@{
    ViewBag.Title = "Review";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @if (TempData.ContainsKey(WebConstants.GlobalExeptionError))
    {
        <div class="alert alert-success" role="alert">
            @TempData[WebConstants.GlobalExeptionError]
        </div>
    }
    @if (Model.EmployeeReviews.Count() == 0)
    {
        <h3>There are curently no reviews for this employee.</h3>
    }
    else
    {
        foreach (var item in Model.EmployeeReviews)
        {
            <div class="card col-4" style="width: 20rem; ">

                <div class="card-body">

                    <h5 class="card-title mt-1">@item.Review</h5>

                </div>
            </div>

        }
    }
</div>
